# 🔹 Flask e extensões
flask
flask-sqlalchemy
flask-migrate
flask-wtf
flask-cors
flask-restful
flask-login
flask-bcrypt
flask-jwt-extended
flask-mail
flask-marshmallow
marshmallow-sqlalchemy
gunicorn
WeasyPrint

# 🔹 Banco de dados (SQLite e PostgreSQL)
sqlalchemy
psycopg2-binary  # Para PostgreSQL no Render

# 🔹 Ferramentas e utilitários
python-dotenv
requests
pillow
werkzeug
email-validator
