<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Orçamento</title>

<!-- Adicionando o Select2 para pesquisa dentro do select -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery (necessário para Select2) -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>

$(document).ready(function() {
        $('#orcamento_salvo').select2({
            placeholder: "Pesquisar orçamento...",
            allowClear: true
        });
    });
        function toggleFields() {
            const tipoProduto = document.getElementById('tipo_produto').value;

            // Oculta todos os campos dinâmicos inicialmente
            document.getElementById('saia_fields').style.display = 'none';
            document.getElementById('fronte_fields').style.display = 'none';
            document.getElementById('cuba_fields').style.display = 'none';
            document.getElementById('cooktop_field').style.display = 'none';
            document.getElementById('Soleira_fields').style.display = 'none';
            document.getElementById('ilharga_fields').style.display = 'none';
            document.getElementById('nicho_fields').style.display = 'none';

            // Exibe os campos específicos para Bancada
            if (tipoProduto === 'Bancada') {
                document.getElementById('saia_fields').style.display = 'block';
                document.getElementById('fronte_fields').style.display = 'block';
                document.getElementById('cuba_fields').style.display = 'block';
                document.getElementById('cooktop_field').style.display = 'block';
            }

            // Exibe os campos específicos para Lavatorio
            if (tipoProduto === 'Lavatorio') {
                document.getElementById('saia_fields').style.display = 'block';
                document.getElementById('fronte_fields').style.display = 'block';
                document.getElementById('cuba_fields').style.display = 'block';
            }

            // Exibe os campos específicos para Soleira
            if (tipoProduto === 'Pedra Simples') {
                document.getElementById('soleira_fields').style.display = 'block';
            }

            // Exibe os campos específicos para Ilharga e Ilharga Bipolida
            if (tipoProduto === 'Ilharga' || tipoProduto === 'Ilharga Bipolida') {
                document.getElementById('saia_fields').style.display = 'block';
            }

            // Exibe os campos específicos para Nicho
            if (tipoProduto === 'Nicho') {
                document.getElementById('nicho_fields').style.display = 'block';
            }
        }

        // Inicializa os campos dinâmicos com base no tipo de produto ao carregar a página
        function initializeFields() {
            toggleFields();
        }

function toggleCubaFields() {
        const tipoCuba = document.getElementById('tipo_cuba').value;
        const medidasCubaFields = document.getElementById('medidas_cuba_fields');
        medidasCubaFields.style.display = (tipoCuba === 'Esculpida') ? 'block' : 'none';
    }

    // Chamar a função ao carregar a página para garantir que os campos corretos apareçam
    document.addEventListener("DOMContentLoaded", function () {
        toggleCubaFields();
    });
    </script>
<style>
    .select2-container {
        width: auto
 !important; /* Faz a caixa ocupar toda a largura */
    }

    .select2-selection {
        height: 24px !important; /* Altura similar a um input padrão */
        
        
    }

    .select2-selection__rendered {
        font-size: 14px; /* Ajusta o tamanho da fonte */
        
    }

    .select2-selection__arrow {
        height: 20px !important; /* Ajusta o ícone da seta */
    }
</style>

</head>
<body onload="initializeFields()">
    <h1>Editar Orçamento</h1>


</br>
    <form method="POST">
<label for="orcamento_salvo">Vincular a Orçamento Salvo:</label>
<select name="orcamento_salvo_id" id="orcamento_salvo" class="form-control select2">
    <option value="">Nenhum</option>
    {% for orcamento_salvo in orcamentos_salvos %}
        <option value="{{ orcamento_salvo.id }}" {% if orcamento.orcamento_salvo_id == orcamento_salvo.id %}selected{% endif %}>
            {{ orcamento_salvo.codigo }} - {{ orcamento_salvo.cliente_nome }}
        </option>
    {% endfor %}
</select>

</br>
        <label for="cliente_id">Cliente:</label>
        <select name="cliente_id" id="cliente_id">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}" {% if cliente.id == orcamento.cliente_id %}selected{% endif %}>{{ cliente.nome }}</option>
            {% endfor %}
        </select><br>

        <label for="tipo_produto">Tipo de Produto:</label>
        <select name="tipo_produto" id="tipo_produto" onchange="toggleFields()" required>
	    <option value="" disabled selected>Selecione o tipo de produto</option>
            <option value="Pedra Simples" {% if orcamento.tipo_produto == 'Pedra Simples' %}selected{% endif %}>Pedra Simples</option>
	    <option value="Bancada" {% if orcamento.tipo_produto == 'Bancada' %}selected{% endif %}>Bancada</option>
            <option value="Lavatorio" {% if orcamento.tipo_produto == 'Lavatorio' %}selected{% endif %}>Lavatorio</option>
            <option value="Ilharga" {% if orcamento.tipo_produto == 'Ilharga' %}selected{% endif %}>Ilharga</option>
            <option value="Ilharga Bipolida" {% if orcamento.tipo_produto == 'Ilharga Bipolida' %}selected{% endif %}>Ilharga Bipolida</option>
            <option value="Nicho" {% if orcamento.tipo_produto == 'Nicho' %}selected{% endif %}>Nicho</option>
	    <option value="Pedra de Box" {% if orcamento.tipo_produto == 'Pedra de Box' %}selected{% endif %}>Pedra de Box</option>
        </select><br>

        <label for="material_id">Material:</label>
        <select name="material_id" id="material_id">
            {% for material in materiais %}
                <option value="{{ material.id }}" {% if material.id == orcamento.material_id %}selected{% endif %}>{{ material.nome }}</option>
            {% endfor %}
        </select><br>

        <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" name="quantidade" value="{{ orcamento.quantidade }}" step="1" min="1" required><br>

    <label for="comprimento">Comprimento:</label>
    <input type="number" id="comprimento" name="comprimento" value="{{ orcamento.comprimento }}" step="0.01" min="0" required pattern="[0-9]+([.,][0-9]+)?"><br>

    <label for="largura">Largura:</label>
    <input type="number" id="largura" name="largura" value="{{ orcamento.largura }}" step="0.01" min="0" required pattern="[0-9]+([.,][0-9]+)?"><br>

    <label for="outros_custos">Outros Custos:</label>
    <input type="number" id="outros_custos" name="outros_custos" value="{{ orcamento.outros_custos }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

    <label for="rt">RT:</label>
    <select name="rt" id="rt">
        <option value="Não" {% if orcamento.rt == 'Não' %}selected{% endif %}>Não</option>
        <option value="Sim" {% if orcamento.rt == 'Sim' %}selected{% endif %}>Sim</option>
    </select><br>

         <label for="rt_percentual">Porcentagem RT:</label>
    <input type="number" id="rt_percentual" name="rt_percentual" value="{{ orcamento.rt_percentual }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

        <!-- Campos Dinâmicos para Bancada e Lavatorio -->
        <div id="saia_fields" style="display: none;">
            <h3>Medidas da Saia</h3>
            <label for="comprimento_saia">Comprimento Saia:</label>
        <input type="number" id="comprimento_saia" name="comprimento_saia" value="{{ orcamento.comprimento_saia }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

        <label for="largura_saia">Largura Saia:</label>
        <input type="number" id="largura_saia" name="largura_saia" value="{{ orcamento.largura_saia }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
        </div>

        <div id="fronte_fields" style="display: none;">
            <h3>Medidas do Fronte</h3>
            <label for="comprimento_fronte">Comprimento Fronte:</label>
        <input type="number" id="comprimento_fronte" name="comprimento_fronte" value="{{ orcamento.comprimento_fronte }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

        <label for="largura_fronte">Largura Fronte:</label>
        <input type="number" id="largura_fronte" name="largura_fronte" value="{{ orcamento.largura_fronte }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
        </div>

        <div id="cuba_fields" style="display: none;">
    <h3>Modelo de Cuba</h3>
    <label for="tipo_cuba">Tipo de Cuba:</label>
    <select name="tipo_cuba" id="tipo_cuba" onchange="toggleCubaFields()">
        <option value="">Selecione...</option>
        <option value="Embutir" {% if orcamento.tipo_cuba == 'Embutir' %}selected{% endif %}>Embutir</option>
        <option value="Esculpida" {% if orcamento.tipo_cuba == 'Esculpida' %}selected{% endif %}>Esculpida</option>
        <option value="Cuba Tradicional Inox" {% if orcamento.tipo_cuba == 'Cuba Tradicional Inox' %}selected{% endif %}>Cuba Tradicional Inox</option>
        <option value="Apoio Cliente" {% if orcamento.tipo_cuba == 'Apoio Cliente' %}selected{% endif %}>Apoio Cliente</option>
        <option value="Embutida Cliente" {% if orcamento.tipo_cuba == 'Embutida Cliente' %}selected{% endif %}>Embutida Cliente</option>
        <option value="Gourmet Cliente" {% if orcamento.tipo_cuba == 'Gourmet Cliente' %}selected{% endif %}>Gourmet Cliente</option>
        <option value="Tanque Inox" {% if orcamento.tipo_cuba == 'Tanque Inox' %}selected{% endif %}>Tanque Inox</option>
    </select><br>

    <label for="quantidade_cubas">Quantidade de Cubas:</label>
    <input type="number" id="quantidade_cubas" name="quantidade_cubas" value="{{ orcamento.quantidade_cubas or '' }}"><br>

    <div id="medidas_cuba_fields" style="display: none;">
        <h3>Medidas da Cuba Esculpida</h3>
        <label for="comprimento_cuba">Comprimento Cuba:</label>
            <input type="number" id="comprimento_cuba" name="comprimento_cuba" value="{{ orcamento.comprimento_cuba or '' }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

            <label for="largura_cuba">Largura Cuba:</label>
            <input type="number" id="largura_cuba" name="largura_cuba" value="{{ orcamento.largura_cuba or '' }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>

            <label for="profundidade_cuba">Profundidade Cuba:</label>
            <input type="number" id="profundidade_cuba" name="profundidade_cuba" value="{{ orcamento.profundidade_cuba or '' }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
    </div>
</div>


        <div id="cooktop_field" style="display: none;">
            <label for="tem_cooktop">Tem Cooktop?</label>
            <select name="tem_cooktop" id="tem_cooktop">
                
                <option value="Não" {% if orcamento.tem_cooktop == 'Não' %}selected{% endif %}>Não</option>
		<option value="Sim" {% if orcamento.tem_cooktop == 'Sim' %}selected{% endif %}>Sim</option>
            </select><br>
        </div>

        <!-- Campos Dinâmicos para Soleira -->
        <div id="Soleira_fields" style="display: none;"></div>

        <!-- Campos Dinâmicos para Ilharga e Ilharga Bipolida -->
        <div id="ilharga_fields" style="display: none;">
            <h3>Medidas da Saia</h3>
            <label for="comprimento_saia">Comprimento Saia:</label>
             <input type="number" id="comprimento_saia" name="comprimento_saia" value="{{ orcamento.comprimento_saia }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
            <label for="largura_saia">Largura Saia:</label>
             <input type="number" id="largura_saia" name="largura_saia" value="{{ orcamento.largura_saia }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
        </div>

        <!-- Campos Dinâmicos para Nicho -->
        <div id="nicho_fields" style="display: none;">
            <h3>Medidas do Nicho</h3>
            <label for="profundidade_nicho">Profundidade:</label>
            <input type="number" id="profundidade_nicho" name="profundidade_nicho" value="{{ orcamento.profundidade_nicho }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
            <label for="tem_fundo">Tem Fundo?</label>
            <select name="tem_fundo" id="tem_fundo">
                <option value="Sim" {% if orcamento.tem_fundo == 'Sim' %}selected{% endif %}>Sim</option>
                <option value="Não" {% if orcamento.tem_fundo == 'Não' %}selected{% endif %}>Não</option>
            </select><br>
            <label for="tem_alisar">Tem Alisar?</label>
            <select name="tem_alisar" id="tem_alisar">
                <option value="Sim" {% if orcamento.tem_alisar == 'Sim' %}selected{% endif %}>Sim</option>
                <option value="Não" {% if orcamento.tem_alisar == 'Não' %}selected{% endif %}>Não</option>
            </select><br>
            <label for="largura_alisar">Largura do Alisar:</label>
            <input type="number" id="largura_alisar" name="largura_alisar" value="{{ orcamento.largura_alisar }}" step="0.01" min="0" pattern="[0-9]+([.,][0-9]+)?"><br>
        </div>

        <button type="submit">Salvar Alterações</button>
    </form>
</br>
<a href="/orcamentos" class="btn btn-secondary">Voltar para Gerenciar Orçamentos</a>



</body>
</html>
